.form-group {
    width: 200px;
    padding: 10px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#container {
    display: flex;
    justify-content: space-between;
}

img {
    height: 200px;
    width: auto;
}

#trucks {
    display: flex;
    flex-direction: column;
}